DB_HOST=example-host
DB_PORT=expample-port
DB_USER=example-user
DB_PASSWORD=example-password
DB_DBNAME=example-db
DB_SSLMODE=disable

APP_HOST=example-host-app
APP_PORT=example-port-app

network_name=example-network
MAX_SIZE_FILE=10